@import url("https://use.typekit.net/cqz5vbh.css");

/* -------- STRUCTURE -------- */

* {
  box-sizing: border-box;
}

body {
  margin: 10px;
  background-color: #ffffff;
}

header {
  background: #ffffff;
  padding: 20px 20px;
}

main {
  margin-top: 30px;
  margin-bottom: 30px;
}

section {
  padding: 0 20px;
}

nav {
  font-size: 20px;
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 15px;
}

hr {
  width: 100%;
  border-style: solid;
  border-color: #004095;
  background-color: #004095;
  margin: 0px;
}

.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 7px;
  border: 3px solid #004095;
  align-self: center;
}

/* ------------ FLEXBOX ------------ */

.group {
  display: flex;
  flex-direction: column;
}

.group-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1 1 400px;
  padding: 20px;
  margin: 20px 0px;
  border: 3px solid #004095;
  border-radius: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 10px;
}

.item {
  flex: 1;
  margin: 10px 0px;
}

.item-col {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 5px;
}

.item-triple {
  flex: 3;
  margin: 5px;
}

/* ------------ DESKTOP ------------ */

@media all and (min-width: 800px) {
  section {
    padding: 0 10%;
  }

  header {
    padding: 20px 10%;
  }

  .group {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    flex-wrap: wrap;
  }
}

/* ------------ BUTTONS ------------ */

button {
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  background: #004095;
  color: #ffffff;
  font-size: 18px;
}

.button-create {
  margin: 20px 0;
  border: 3px solid #004095;
  border-radius: 20px;
  background: #ffffff;
  color: #004095;
  font-size: 22px;
}

.button-flip {
  width: 50%;
  justify-content: flex-start;
  margin: 10px 20px 10px 0;
}

.button-deck {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin: 40px 0;
}

/* ----------- TYPOGRAPHY ----------- */

.App {
  font-family: "adobe-garamond-pro", "Times New Roman", serif;
  color: #004095;
}

h1 {
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 0;
}

h2 {
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 15px;
}

h3 {
  font-size: 40px;
  font-style: italic;
  margin-top: 25px;
  margin-bottom: 15px;
}

h4 {
  font-size: 20px;
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 15px;
}

h5 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}

h6 {
  font-size: 20px;
  font-style: italic;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 20px;
}

a {
  font-size: 20px;
  text-decoration: none;
}

a:link {
  color: #004095;
}
a:visited {
  color: #004095;
}
a:hover {
  color: #f5ca0b;
}
a:active {
  color: #f5ca0b;
}

/* -------- FORM -------- */

form label {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

form input,
form textarea {
  width: 100%;
  margin: 5px 0 20px 0;
  padding: 10px;
  border: 3px solid #004095;
  border-radius: 10px;
  font-size: 20px;
  color: #004095;
  outline: none;
  resize: none;
}

fieldset {
  border: none;
  margin: 0px;
  padding: 0px;
}
